/*Reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)*/

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	line-height: 1;
}

/*fonts*/
@font-face { font-family: ArchitectsDaughter; src: url('ArchitectsDaughter.ttf');}
/*layout*/
html {
}
body {
	background: -ms-linear-gradient(bottom, #FFFFFF 0%, #2378D9 100%);
	background: -moz-linear-gradient(bottom, #FFFFFF 0%, #2378D9 100%);
	background: -o-linear-gradient(bottom, #FFFFFF 0%, #2378D9 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #2378D9));
	background: -webkit-linear-gradient(bottom, #FFFFFF 0%, #2378D9 100%);
	background-repeat: no-repeat;
	background-size: cover;
	white-space:nowrap;
	height:100%;
}
#page_holder {
	position:relative;
	width: 600px;
	margin: 10px auto;
	background-color: #ffffff;
	border: 2px solid black;
	border-radius: 10px;
}
#input_box {
	margin-left: 40px;
}
#price_holder {
	display: inline-block;
}
.new_item_tag {
	margin-left: 10px;
}
.price_input {
	display: inline-block;
}
#clear_holder {
	text-align: center;
	margin: 20px 310px 20px 0;
}
/*elements*/
h1 {
	font-family:'ArchitectsDaughter', sans-serif;
	font-size:50px;
	color: #4A4A4A;
	padding-top: 15px;
	padding-bottom: 25px;
	text-align:center;
}
.clicker {
	font-size: 20px;
}
.checkbox, .item_price, .item_type{
	font-size:15px;
}
#items_list{
	margin:10px 0 10px 35px;
	text-align:left;
}
li {
	font-family:'ArchitectsDaughter', sans-serif;
	font-size:20px;
	color: #4A4A4A;
	max-width: 493px;
	min-height: 42px;
	border: 1px solid black;
	border-radius: 5px;
	padding: 15px 10px;
	margin-bottom: 15px;
	margin-left: 8px;
}
.item_container{
	margin-top: 10px;
	display: inline-block;
}
.item_type {
	margin: 0 0;
	padding: 0 0;
	vertical-align: middle;
	display:inline;
}
