h1{
text-align:center;

}
img{
  display: block;
  margin-left: 750px;
  margin-right:auto;
  padding-top: 300px;
body {
    background-image: url("https://www.google.com/search?q=background+images&safe=active&client=safari&rls=en&biw=901&bih=857&tbm=isch&imgil=jg5Ex8epdMp4qM%253A%253BxvulzXrw-2fjoM%253Bhttp%25253A%25252F%25252Fhdwallpick.com%25252Ffree-background.html&source=iu&pf=m&fir=jg5Ex8epdMp4qM%253A%252CxvulzXrw-2fjoM%252C_&usg=__NF2fCQk4MQR9jBps6BLLl6-l5oE%3D");
    background-repeat: no-repeat;
}
